In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [98]:
df = pd.read_csv('titanic.csv')
df['Sex'].replace({'male': 1, 'female': 0}, inplace=True)
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [112]:
X = df[['Pclass', 'Age', 'Fare', 'Sex', 'Survived']].dropna()
y = X['Survived']
X = X.drop('Survived', axis=1)

In [113]:
DecisionTree = DecisionTreeClassifier(random_state=241)

In [114]:
DecisionTree.fit(X, y)

DecisionTreeClassifier(random_state=241)

In [115]:
features = zip(X.columns, DecisionTree.feature_importances_)
print(*features)

('Pclass', 0.13700004154567852) ('Age', 0.2560461009790662) ('Fare', 0.30644164651701583) ('Sex', 0.3005122109582394)